@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 62.5%;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 8px;
   list-style-type: none;
}

body {
   overflow-y: hidden;
}

p,button,span,li {
  font-size: 1.6rem;
}

#logo {
  font-size: 2.4rem;
  font-weight: 600;
  letter-spacing: 150%;
}

#logo > span {
  font-size: 2.4rem
}

h1 {
  font-weight: 800;
  letter-spacing: -0.85px;
  line-height: 120%;
  font-size: 6.8rem;
  width: 680px;
}

label {
  font-size: 1.2rem;
}

p {
  width: 400px;
}

i {
  font-size: 4.4rem;
}

#app {
  min-height: 100vh;
}

@media (max-width:767px) {

  h1 {
    font-size: 4.4rem;
  }
  span,button,p,li {
    font-size: 1.2rem;
  }
}
