@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    max-width: 1200px;
    margin: 0 auto;   
    font-size: 62.5%;
}

* {
    font-size: 1.6rem;
    letter-spacing: -0.25px;
    list-style: none;
}

h1 {
    font-size: 7.2rem;
    line-height: 120%;
    font-weight: 900;
    max-width: 720px;
    letter-spacing: -0.85px;
}

h3 {
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: -0.85px;
    line-height: 120%;
}

p {
    font-size: 1.6rem;
    max-width:720px;
}

::selection {
    background-color: rgba(111,109,217,0.25);
}

@media only screen and (max-width: 640px) {
    h1 {
        font-size: 2.624rem;
        max-width: 300px;
        line-height: 150%;
    }

    h3 {
        font-size: 1.6rem;
        line-height: 150%;
    }

    p {
        font-size: 1.2rem;
        max-width: 400px;
    }

    * {
        font-size: 1.2rem;
    }
    
  }